body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 10px;
}

/* home, about, benefits, contact */
nav ul li a {
    text-decoration: none;
    color: #333;
}

.register-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    text-align: center;
    border-radius: 8px;
}

.register-container h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

label {
    text-align: left;
    margin-top: 10px;
    display: block;
}

input, select {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    width: 100%;
    font-size: 16px;
    display: block; 
    box-sizing: border-box;
    border-radius: 5px;
}

button {
    background-color: #003366;
    color: white;
    padding: 10px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

button:hover {
    background-color: #0055a5;
}

p {
    margin-top: 15px;
}

a {
    color: #003366;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .register-container {
        width: 90%;
    }
}