<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login - MRSYS</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" />
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="sidebar">
      <h1 class="logo">MRSYS</h1>
    </div>
    <div class="main-content">
      <nav class="nav-links">
        <a href="{{ url_for('views.home') }}">Home</a>
        <a href="{{ url_for('views.about') }}">About</a>
        <a href="{{ url_for('views.benefits') }}">Benefits</a>
        <a href="{{ url_for('views.contact') }}">Contact</a>
      </nav>
      <div class="login-form">
        <h2>Log In</h2>
        <form id="loginForm">
            <input type="email" id="email" placeholder="Email Address" required />
            <input type="password" id="password" placeholder="Password" required />
   
          <!-- <div class="forgot-link">
            <a href="#">Forgot Password?</a>
          </div> -->
          <button type="submit">Log In</button>
        </form>
        <p class="signup">Don’t have an account? <a href="{{ url_for('auth.register') }}">Sign Up</a></p>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='login.js') }}"></script>
</body>
</html>
